.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
    overflow: hidden;
}

.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(77, 181, 255, 0.2);
}

.service__head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    color: var(--color-primary);
    margin-top: 2px;
}

.service__list p {
    font-size: 0.9rem;
    color: var(--color-light);
    line-height: 1.6;
}

.service__list li {
    transition: var(--transition);
}

.service__list li:hover {
    transform: translateX(5px);
}

.service__list li:hover .service__list-icon {
    color: var(--color-white);
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES) ==========*/
@media  screen and (max-width: 1024px) {
    .services__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service {
        height: auto;
    }
}

/* ======== MEDIA QUERIES (Small DEVICES) ==========*/
@media  screen and (max-width: 600px) {
    .services__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
